a {
    text-decoration: none;
    color: grey;
    letter-spacing: normal;
    transition: 0.8s;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #e06149;
    background-color: black;
    letter-spacing: 0.1em;
    margin: 0;
}

p {
    margin: 0;
    margin-bottom: 8px;
}

div {
    width: 100%;
    text-align: center;
}

input {
    margin-bottom: 20px;
}

.text {
    margin-bottom: 25px;
    width: 300px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
}

form > div {
    border-radius: 10px;
    border: 2px solid #e06149;
    padding: 30px;
    width: 300px;
    margin: auto;
    text-align: left;
    height: auto;
}

h1 {
    margin-top: 50px;
}

.btn {
    background-color: #e06149;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.btn:hover {
    color: #fff;
    background-color: black;
    border: 2px solid #e06149;
    cursor: pointer;
    width: 120px;
    height: 45px;
    transition: 0.5s;
}

a:hover {
    color: white;
    transition: 0.5s;
    letter-spacing: 0.1em;
}

#btn {
    width: 150px;
    height: 50px;
}

#btn:hover {
    width: 160px;
    height: 60px;
}