h1, h2, h3, h4, h5, h6, hgroup, ol, li, ul, div, header, section,
aside, p, a, footer {
    margin: 0;
    text-decoration: none;
}

pre, code {
    margin: 0;
    white-space:pre-line;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
}

section {
    margin-bottom: 4%;
}

header{
    margin-bottom: 50px;
}

header .logo, .logo_list{
    display: flex;
    align-items: center;
}

.logo > img {
    padding-bottom: 10px;
}

h1 {
    font-size: 50px;
    margin-right: 50px;
    margin-bottom: 2%;
    margin-top: 20px;
    margin-left: 10%;
}

.logo_list{
    width: 77.5%;
    margin-left: 10%;
    display: flex;
    height: 50px;
    text-align: center;
}

.logo_list > div {
    margin-right: 5px;
    width: 100%;
    height: 50px;
    background-color: #e06149;
    border-radius: 10px;
}

.logo_list > div > p {
    margin-top: 16px;
}

.name > img {
    margin-left: 10%;
    margin-right: 2%;
}

.name {
    display: flex;
}

.name > div > a {
    text-decoration: none;
    color: white;
}

.name > div > h2 {
    margin-bottom: 10%;
}

.content {
    float: left;
    width: 54%;
    margin-left: 10%;
    margin-right: 2%;
}

.op {
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    line-height: 22px;
}

.right_panel {
    float: left;
    width: 21%;
}

.test {
    height: auto;
}

.btn_sec {
    text-align: right;
    margin-bottom: 40px;
}

.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}
.btn {
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.btn_go {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.btn_go:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}

.checked {
    border: 2px solid hsl(118, 83%, 61%);
    color: hsl(118, 83%, 61%);
}
.checked:hover {
    box-shadow: 0 0 40px 40px hsl(118, 83%, 61%) inset;
}

label {
    display: block;
    margin-bottom: 8px;
}

#calc, #res, #logout {
    box-sizing: border-box;
    border-radius: 0.6em;
    cursor: pointer;
    font-size: 12px;
    line-height: 1;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 10px;
    border-color: #3498db;
    color: #fff;
    transition: all 150ms ease-in-out;
    margin-right: 5px;
}
#res {
    padding: 15px 30px;
}
#calc:hover, #res:hover  {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
}
#logout {
    border-color: #e06149;
}
#logout:hover {
    box-shadow: 0 0 10px 0 #e06149 inset, 0 0 10px 4px #e06149;
}

form > div {
    margin-bottom: 15px;
}
form > div > p {
    margin-bottom: 10px;
}

.grade {
    margin-left: 10px;
}
.ans {
    border: #3498db 2px solid;
    border-radius: 0.6em;
    padding-left: 20px;
    padding: 15px 0px 15px 20px;
    width: 28.5%;
}
.ans > p {
    display: inline;
}

aside{
    height: auto;
}

.lessons {
    height: 510px;
    width: 100%;
    overflow: auto;
    border: gray 1px solid;
}
.lessons::-webkit-scrollbar {
    width: 15px;
}
.lessons::-webkit-scrollbar-track {
    background-color: rgb(12, 12, 12);
}
.lessons::-webkit-scrollbar-thumb {
    background-color: white;
}

.panel {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 20px 0;
    background-color: rgb(29, 29, 29);
    border-top: gray 1px solid;
}
.panel > a {
    color: white;
}
.activeP {
    background-color: #e06149;
}
.panel:hover {
    background-color: #e06149;
}
.top, .botom {
    height: 20px;
    border: gray 1px solid;
    width: 100%;
    background-color: rgb(29, 29, 29);
}
.top {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.botom {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 10px;
}

.video {
    height: 300px;
    text-align: center;
    border: 0px;
}

iframe {
    width: 70%;
    height: 100%;
}

h2 {
    margin-bottom: 20px;
    color: #e06149;
}

h3 {
    color: #e06149;
}

h4 {
    margin-bottom: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
}
.info > a {
    color: white;
}

.sticky {
    position: fixed;
    top: 0px;
    right: 198px;
}
.stop {
    position: relative;
}

footer {
    align-items: center;
    height: 70px;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.text {
    height: auto;
}
.text > p, .text > img {
    width: 90%;
}
.practice {
    height: auto;
}

pre {
    background-color: black;
    color: white;
    width: 50%;
    border: #e06149 2px solid;
    border-radius: 10px;
    padding: 10px;
}

.hidepr {
    display: none;
}
.activepr {
    display: block;
}
.solution {
    color: grey;
    margin-bottom: 20px;
}
.solution:hover {
    cursor: pointer;
    color: white;
}
.collapse {
    color: grey;
}
.collapse:hover {
    cursor: pointer;
    color: white;
}

/*.disable {*/
/*    pointer-events: none;*/
/*}*/

label {
    border: #e06149 1px solid;
    border-radius: 5px;
    width: 30%;
    padding: 5px;
}

.user {
    font-size: 20px;
    cursor: alias;
}


.visibleGrade {
    display: block;
    transition: 0.5s;
}

.gradeList {
    width: 40%;
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    margin-left: 810px;
    margin-bottom: 30px;
    position: absolute;
    display: flex;
    background-color: black;
    border: #e06149 1px solid;
    border-radius: 10px;
}

.hideGrade {
    display: none;
    transition: 0.5s;
}

.gradeList > div {
    width: 33%;
    margin-right: 5px;
    
}
.gradeList > .lastch {
    margin-right: 0px;
}
.subDiv {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(29, 29, 29);
    border: gray 1px solid;
    border-radius: 10px;
    height: 25px;
    align-items: center;
} 

.alert {
    color: red;
    height: auto;
    width: 29%;
    border: #e06149 1px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}