<!DOCTYPE html>
<html lang="en" id="15"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Java Course</title>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/jquery.js}" src="/src/main/resources/static/js/jquery.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css">
</head>
<body onload="setNextLvlButtonColorIfExist()">
<input th:if="${session.thisLessonGrade.containsKey(15)}" id="thisLessonGrade" type="hidden" value="1"/>
<header>
    <div class="logo">
        <h1>Онлайн-курc: JavaCourse</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4ZAeznQZoSen1S7qvKdoet0ndYpCepZpR-TMTp6pDlMtkg_oYF3BcLjv2ciiSssFqlws&usqp=CAU" alt="LOGOTYPE" width="120px" height="100px">
        <h1 th:text="${session.userDB.getUsername()}" class="user">USER</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Вихід" class="btn" id="logout"/>
        </form>
    </div>
    <div class="gradeList hideGrade">
        <div>
            <div class="subDiv"><div>Оцінка за урок №1:</div><div th:text="${session.lesson10.get(0)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №2:</div><div th:text="${session.lesson10.get(1)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №3:</div><div th:text="${session.lesson10.get(2)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №4:</div><div th:text="${session.lesson10.get(3)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №5:</div><div th:text="${session.lesson10.get(4)}">10</div></div>
        </div>
        <div>
            <div class="subDiv"><div>Оцінка за урок №6:</div><div th:text="${session.lesson10.get(5)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №7:</div><div th:text="${session.lesson10.get(6)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №8:</div><div th:text="${session.lesson10.get(7)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №9:</div><div th:text="${session.lesson10.get(8)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №10:</div><div th:text="${session.lesson10.get(9)}">10</div></div>
            
        </div>
        <div class="lastch">
            <div class="subDiv"><div>Оцінка за урок №11:</div><div th:text="${session.lesson10.get(10)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №12:</div><div th:text="${session.lesson10.get(11)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №13:</div><div th:text="${session.lesson10.get(12)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №14:</div><div th:text="${session.lesson10.get(13)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №15:</div><div th:text="${session.lesson10.get(14)}">10</div></div>
        </div>
    </div>
    <div class="logo_list">
        <div><p>15 уроків</p></div>
        <div><p>Швидке начання</p></div>
        <div><p>Онлайн практика</p></div>
        <div><p>Тестові завдання</p></div>
    </div>
</header>

<div class="main_content">
    <div class="content">
        <section class="name">
            <img th:src="@{/img/les15.jpg}" alt="les15.jpg" width="300px" height="170px">
            <div>
                <h2>Літерали в Java</h2>
                <a href="#practice">Перейти до практики</a>
            </div>
        </section>
        <div class="op">
            <p>Представляємо вам уроки програмування мовою Java для починаючих. <br> Великий відео курс по вивченню мови
                Java.</p>
        </div>
        <h2>Відеоурок</h2>
        <section class="video">
            <iframe src="https://www.youtube.com/embed/OKO0IQo9ZQE" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </section>
        <section class="text">
            <h2>Текстовий матеріал</h2>
            <h3>Літерали в Java</h3> <br>
            <h4>Літерали цілих чисел</h4>
            <p>А зараз нова цікава тема — літерали. Дані, внесені безпосередньо в код програми, називають літералами. Тут буде йтися не про будь-які дані, а про значення примітивних типів і типу String.</p> <br>
            <p>Наприклад, є такий код:</p> <br>
            <pre><code>int a = 5;
                int b = a + 10;
                String s = "Sum=" + (a + b);
            </code></pre> <br>
            <p>Літерали в цьому коді — це число 5, число 10 і рядок Sum=.</p> <br>
            <p>У мові Java все, включно з літералами, має тип. Всі цілочислові літерали (цілі числа) в коді мають тип int. Тип int є стандартним типом цілих чисел у Java.</p> <br>
            <p>Тому, якщо ви у своєму коді вирішите присвоїти цілочисловий літерал змінній типу byte або short, проблем не буде. Потрібно тільки, щоб значення літерала було в межах діапазону доступних значень типу змінної.</p> <br>
            <p>Компілятор у Java досить розумний, щоб зрозуміти, що змінній типу byte можна присвоїти цілочисловий літерал 100, тому жодної проблеми не виникне.</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>int a = 300; //Буде нормально скомпільовано.
                byte a = 100; //Буде нормально скомпільовано.
                byte a = 300; //Буде помилка компіляції: максимальне значення типу byte дорівнює 127.
            </code></pre> <br>
            <p>У коді можна також використовувати літерали типу long. Для цього в кінці цілого числа слід написати латинську літеру L або l.</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>long a = 3000000000L; // Буде нормально скомпільовано.
                long a = 3000000000; // Помилка компіляції: 3 мільярди — завелике число для літерала типу int.
                int a = 3000000000L; //Помилка компіляції: літерал має тип long, а змінна — тип int. До того ж число 3 мільярди перевищує максимальне значення типу int.
            </code></pre> <br>
            <p>Ви, мабуть, звернули увагу, як складно читати великі числа довжиною 10 і більше знаків. Не відразу зрозумієш, що написано в коді: 3 мільярди чи 30. Щоб покращити прочитність коду (а це важливо!), у Java дозволено вставляти в числові літерали символи підкреслення (на значення числа вони не впливають).</p> <br>
            <p>Попередній приклад можна переписати з використанням символів підкреслення, і він стане зрозумілішим:</p> <br>
            <pre><code>long a = 3_000_000_000L;// Буде нормально скомпільовано.
                long a = 3_000_000_000;// Помилка компіляції: 3 мільярди — завелике число для літерала типу int.
            </code></pre> <br>
            <p>Використання коми в числових літералах не допускається, тому що кома використовується з іншою метою. Наприклад, для відокремлення один від одного аргументів під час виклику методу.</p> <br>
            <h4>Літерали дійсних чисел</h4>
            <p>У коді можна задавати не тільки цілочислові літерали, а й літерали з рухомою крапкою (дійсні числа).</p> <br>
            <p>Власне, правило дуже просте: якщо в коді є число з крапкою, то це число — літерал з рухомою крапкою. І не просто літерал, а літерал типу double.</p> <br>
            <p>Можна також створювати літерали типу float, але такі літерали мають закінчуватися літерою F або f.</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>double a = 100.0; //Буде нормально скомпільовано.
                double a = .0; //Буде нормально скомпільовано.
                float a = 100.0f; // Буде нормально скомпільовано.
                float a = 100.0; //Буде помилка компіляції: змінна має тип float, а літерал — тип double.
            </code></pre> <br>
            <p>До речі, можна дуже легко перетворити цілочисловий літерал на літерал типу float або double: для цього слід просто дописати до нього суфікс F (для float) або D (для double).</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>double a = 100D; //Буде нормально скомпільовано.
                float a = 100F; //Буде нормально скомпільовано.
                int a = 300D; //Буде помилка компіляції: змінна має тип int, а літерал — тип double
            </code></pre> <br>
            <p>Для літералів з рухомою крапкою можна також використовувати «наукову форму запису»: крім значущої частини цього числа, вказується також степінь десяти.</p> <br>
            <p>Наприклад:</p> <br>
            <img  th:src="@{/img/table_les15.png}" alt=""> <br> <br>
            <!-- <img src="/src/main/resources/static/img/table_les15.png" alt="table_les15"> <br> <br> -->
            <h4>Літерали рядків</h4>
            <p>У коді також можна задавати цілі рядки тексту. Щоб компілятор вважав рядок саме даними (рядком тексту), а не частиною коду, весь рядок з обох сторін беруть у подвійні лапки.</p> <br>
            <p>Якщо в одному рядку коду є кілька подвійних лапок, вони обробляються попарно. Перша подвійна лапка позначає початок літерала, наступна — кінець літерала. Наступна за нею позначає початок наступного літерала, а наступна за нею — кінець цього літерала і т. д.</p> <br>
            <p>Кожен такий літерал має тип String.</p> <br>
            <p>Наприклад:</p> <br>
            <img  th:src="@{/img/table_les15.1.png}" alt=""> <br> <br>
            <!-- <img src="/src/main/resources/static/img/table_les15.1.png" alt="table_les15.1"> <br> <br> -->
            <p>Якщо рядковий літерал надто довгий, його можна розбити на кілька рядків і склеїти оператором «плюс»:</p> <br>
            <pre><code>String s = "Віють вітри, віють буйні, "
                + "Аж дерева гнуться. "
                + "О, як моє болить серце, "
                + "А сльози не ллються.";
            </code></pre> <br>
            <p>Якщо вивести ці рядки на екран, увесь текст буде виведено як один рядок!</p> <br>
            <h4>Літерали символів</h4>
            <p>У коді можна задавати не лише рядкові літерали, а й літерали з окремих символів. Тут ідеться не про рядок, що містить один символ, а про літерали типу char.</p> <br>
            <p>На відміну від рядків, символьні літерали беруть в одинарні лапки. Між одинарними лапками обов'язково має бути символ, і тільки один. Не може бути одинарних лапок, між якими нічого немає.</p> <br>
            <p>Наприклад:</p> <br>
            <img  th:src="@{/img/table_les15.2.png}" alt=""> <br> <br>
            <!-- <img src="/src/main/resources/static/img/table_les15.2.png" alt="table_les15.2"> <br> <br> -->
            <p>В останньому прикладі задано символ у кодуванні Unicode за допомогою спеціального запису: спочатку вказано префікс \u, потім 4 шістнадцяткових символи. </p> <br>
            <h3>Кодування</h3> <br>
            <h4>Вісімкове кодування</h4>
            <p>До речі, про кодування. Як вам відомо, у повсякденному житті ми використовуємо десяткову систему числення: всі наші числа складаються з 10 цифр: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9. Оскільки цифр 10, то й система називається десятковою.</p> <br>
            <p>Одначе програмісти — великі вигадники, тому придумали різні кодування з іншою кількістю цифр. Наприклад, 64, 16, 8 і 2.</p> <br>
            <p>З кодуванням на основі 8 цифр було найпростіше: вони просто відкинули цифри 8 і 9 і отримали вісімкове кодування (вісімкову систему числення).</p> <br>
            <p>І тепер ви можете задавати числові літерали у вісімковій системі. Звичайно, якщо це вам потрібно. Це простіше, ніж здається. Просто слід написати перед числом цифру 0.</p> <br>
            <p>Тобто будь-який цілочисловий літерал, який починається з 0, у Java вважається вісімковим.</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>int x = 015; // х дорівнює 13: 1*8+5
                int x = 0123; // х дорівнює 83: 1*64+2*8+3 == 1*82+2*81+3*80
                int x = 078; // Не скомпілюється: цифри 8 у вісімковому кодуванні немає.
            </code></pre> <br>
            <p>Навряд чи вам знадобляться вісімкові числа в коді, проте слід знати, що це таке. Адже вам доведеться читати код, написаний іншими. А як ми вже казали, програмісти — великі вигадники.</p> <br>
            <h4>Двійкове кодування</h4>
            <p>Двійкове кодування — це ще цікавіше. Якщо у вісімковій системі залишилися тільки цифри 0–7, то у двійковій — тільки цифри 0 і 1. Навіщо ж потрібне таке кодування?</p> <br>
            <p>Це пов'язане з будовою комп'ютера. Усе в комп'ютері працює на електриці, і, як виявилося, найефективніший спосіб щось у ньому зберігати й передавати — це використовувати два стани: немає струму (нуль) і є струм (одиниця).</p> <br>
            <p>Оце і є основою популярності двійкового кодування.</p> <br>
            <p>Проте в Java воно використовується не так вже й часто: Java вважається мовою високого рівня, повністю незалежною від заліза, на якому працює. Справді, чи вам не все одно, в якому вигляді зберігаються й обробляються дані в комп'ютері?</p> <br>
            <p>Однак за минулі десятиліття програмісти полюбили двійкове кодування (і кодування на його основі), тому в Java є оператори, які під час роботи враховують двійкову форму числа. Та й точність дійсних чисел залежить від їх подання у двійковому кодуванні.</p> <br>
            <p>Так само, як і у випадку з літералами у вісімковій системі, у Java є спосіб задавати літерали у двійковій формі, тобто лише за допомогою символів 0 і 1. Для того щоб Java-компілятор зрозумів, що в коді записано числовий літерал у двійковій формі, а не просто десяткове число, що складається з нулів і одиниць, до всіх двійкових літералів додається префікс 0b (b від слова binary).</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>int x = 0b100; //х дорівнює 4: 1*4+0*2+0
                int x = 0b1111000111; // х дорівнює 967: 1*29+1*28+1*27+1*26+0*25+0*24+0*23+1*22+1*2+1;
                int x = 0b12000; // Не скомпілюється: цифри 2 у двійковому кодуванні немає.
            </code></pre> <br>
            <h4>Шістнадцяткове кодування</h4>
            <p>Крім вісімкової та двійкової системи, літерали можна записувати також у шістнадцятковій системі. Це дуже популярне кодування.</p> <br>
            <p>Річ у тім, що, хоча двійковий запис максимально наближений до реального виду зберігання чисел, працювати з таким числом надто складно: мільйон буде містити не 7 цифр, а 20.</p> <br>
            <p>Тому програмісти придумали шістнадцяткову систему. Адже 16 — це 24, тому одній шістнадцятковій цифрі відповідає рівно 4 біти. Отже кожні 4 біти тепер можна записати однією шістнадцятковою цифрою.</p> <br>
            <p>У шістнадцяткого кодування теж є свій унікальний префікс — 0x.</p> <br>
            <p>Наприклад:</p> <br>
            <img  th:src="@{/img/table_les15.3.png}" alt=""> <br> <br>
            <!-- <img src="/src/main/resources/static/img/table_les15.3.png" alt="table_les15.3"> <br> <br> -->
            <p>Гаразд, скажете ви, зрозуміло, як отримати вісімкову систему: ми просто викинули цифри 8 і 9, але де взяти 6 відсутніх цифр для шістнадцяткової системи? Хотілося б їх побачити! Тут все досить просто. Замість 6 відсутніх цифр взяли 6 перших літер латинського алфавіту: A (10), B (11), C (12), D (13), E (14), F (15).</p> <br>
            <p>Наприклад:</p> <br>
            <img  th:src="@{/img/table_les15.4.png}" alt=""> <br> <br>
            <!-- <img src="/src/main/resources/static/img/table_les15.4.png" alt="table_les15.4"> <br> <br> -->
            <h4>Як перевести число з шістнадцяткової системи в іншу</h4>
            <p>Перевести число з шістнадцяткової системи в десяткову дуже просто. Припустімо, у вас є число 0xAFCF. Скільки це буде в десятковій системі?</p> <br>
            <p>По-перше, у нас позиційна система числення, отже, кожен розряд збільшує значення цифри в 16 разів:</p> <br>
            <p>A*16^3 + F*16^2 + C*16^1 + F</p> <br>
            <p>Символу А відповідає число 10, символу C — число 12, символу F — число 15. Отримуємо:</p> <br>
            <p>10*16^3 + 15*16^2 + 12*16^1 + 15</p> <br>
            <p>Піднесемо 16 до степеня й отримаємо:</p> <br>
            <p>10*4096 + 15*256 + 12*16 + 15</p> <br>
            <p>Усе підсумуємо й отримаємо:</p> <br>
            <p>45007</p> <br>
            <p>А зараз перетворімо його на двійкове число. У двійковій системі воно записується так:</p> <br>
            <p>0b1010111111001111</p> <br>
            <p>Кожним чотирьом бітам відповідає один символ шістнадцяткового кодування. Дуже зручно. Без усяких множень і піднесення до степеня.</p> <br>
            <h3>Екранування символів</h3> <br>
            <h4>Чому виникла потреба в екрануванні символів?</h4>
            <p>Колись давно ви дізналися, що для того щоб записати в коді рядок символів, потрібно взяти цей рядок у подвійні лапки: це буде рядковий літерал.</p> <br>
            <p>А що робити, коли потрібно написати рядковий літерал з лапками всередині? Рядок, який містить лапки, — що може бути простішим?</p> <br>
            <p>Припустімо, ми хочемо вивести текст Фільм "Друзі" номіновано на "Оскар". Як це зробити?</p> <br>
            <pre><code>String s = "Фільм "Друзі" номіновано на "Оскар""; //Цей варіант не працюватиме!</code></pre> <br>
            <p>Коли компілятор зустріне подвійні лапки в коді, він вважатиме їх початком рядкового літерала, а наступні подвійні лапки — закінченням цього рядкового літерала.</p> <br>
            <p>То як же записати подвійні лапки всередині літерала?</p> <br>
            <h4>Екранування символів</h4>
            <p>Спосіб є — він має назву екранування символів. Потрібно просто додати перед лапками всередині рядка тексту символ\ .</p> <br>
            <p>Отакий вигляд має правильно записаний рядковий літерал:</p> <br>
            <pre><code>String s = "Фільм \"Друзі\" номіновано на \"Оскар\""; //Це працюватиме!</code></pre> <br>
            <p>Компілятор усе зрозуміє правильно й не вважатиме лапки після оберненої скісної риски звичайними лапками.</p> <br>
            <p>До того ж, якщо потрібно вивести цей рядок на екран, лапки з оберненою скісною рискою будуть оброблені правильно, і на екран буде виведено напис без обернених скісних рисок: Фільм "Друзі" номіновано на "Оскар".</p> <br>
            <p>Ще один важливий момент. Лапки з оберненою скісною рискою перед ними — це один символ: ми просто користуємося таким хитрим способом запису, щоб компілятор міг правильно розпізнати рядкові літерали в коді. Лапки можна присвоїти змінній char:</p> <br>
            <pre><code>char c = '\"'; // \" — це один символ, а не два
                char c = '"'; // так теж можна: подвійна лапка між одинарними лапками
            </code></pre> <br> <br>
            <h4>Типові ситуації під час екранування символів</h4>
            <p>Крім подвійних лапок, є ще багато символів, які компілятор обробляє в особливий спосіб. Наприклад, переведення рядка.</p> <br>
            <p>Як додати в літерал переведення рядка? Для цього теж є спеціальна комбінація: \n</p> <br>
            <p>Якщо ви хочете вставити в рядковий літерал переведення рядка, потрібно просто додати пару символів — \n.</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>System.out.println("З повагою\nАнонім");</code></pre> <br>
            <p>Виведеться:</p> <br>
            <pre><code>З повагою
                Анонім
            </code></pre> <br>
            <p>Загалом таких комбінацій 8: їх також називають escape-послідовностями. От їх перелік:</p> <br>
            <img  th:src="@{/img/table_les15.5.png}" alt=""> <br> <br>
            <!-- <img src="/src/main/resources/static/img/table_les15.5.png" alt="table_les15.5"> <br> <br> -->
            <p>З двома з них ви вже познайомилися, а що означають інші 6?</p> <br>
            <p>Символ табуляції — \t</p> <br>
            <p>Цей символ у тексті еквівалентний натисненню на клавіатурі клавіші Tab під час набору тексту. Він зсуває текст, який іде після нього, для вирівнювання.</p> <br>
            <p>Наприклад:</p> <br>
            <img  th:src="@{/img/table_les15.6.png}" alt=""> <br> <br>
            <!-- <img src="/src/main/resources/static/img/table_les15.6.png" alt="table_les15.6"> <br> <br> -->
            <p>Повернення на один символ назад — \b</p> <br>
            <p>Цей символ у тексті еквівалентний натисненню на клавіатурі клавіші Backspace під час набору тексту. Він видаляє останній виведений перед ним символ:</p> <br>
            <p>System.out.println("Привіт\b\b світе!");</p> <br>
            <p>Виведення на екран:</p> <br>
            <pre><code>Прив світе!</code></pre> <br>
            <p>Символ повернення каретки — \r</p> <br>
            <p>Цей символ переводить курсор на початок поточного рядка, не змінюючи текст. Текст, який буде виведено, зітре той, що є на екрані.</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>System.out.println("Привіт тобі\rсвіте!");</code></pre> <br>
            <p>Виведення на екран:</p> <br>
            <pre><code>світе! Тобі</code></pre> <br>
            <p>Символ прогону сторінки — \f</p> <br>
            <p>Цей символ дійшов до нас з епохи перших матричних принтерів. Якщо відправити такий символ на друк, то принтер просто проганяє поточну сторінку до кінця, не друкуючи тексту, і встановлює каретку на початок нової сторінки.</p> <br>
            <p>Тепер ми назвали б цю дію «розрив сторінки» або «нова сторінка».</p> <br>
            <p>Обернений слеш – \\</p> <br>
            <p>Ну а тут взагалі все просто. Якщо ми використовуємо обернену скісну риску (обернений слеш) в тексті, щоб екранувати символи, то як тоді записати в текстовому рядку символ скісної риски?</p> <br>
            <p>Все просто: щоб додати в текст символ оберненої скісної риски, його потрібно написати двічі.</p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>System.out.println("c:\projects\my\first"); //Компілятор сваритиметься на невідомі екрановані символи.
                System.out.println("c:\\projects\\my\\first"); //Отак правильно!
            </code></pre>
        </section>
        <section class="practice" id="practice">
            <h2>Практичні завдання</h2>
            <h4>Завдання №1</h4>
            <p>Виведи на екран цей текст у два рядки:</p> <br>
            <pre><code>It's a Windows path: "C:\Program Files\Java\jdk-13.0.0\bin"
                It's a Java string: \"C:\\Program Files\\Java\\jdk-13.0.0\\bin\"                
            </code></pre> <br>
            <p>Натисність на кнопку нижче, щоб відкрити рішення.</p> <br>
            <p class="solution">Показати рішення</p>
            <div class="p1 hidepr">
                    <pre><code>public class Solution {
                        public static void main(String[] args) {
                            System.out.println("It's a Windows path: \"C:\\Program Files\\Java\\jdk-13.0.0\\bin\"");
                            System.out.println("It's a Java string: \\\"C:\\\\Program Files\\\\Java\\\\jdk-13.0.0\\\\bin\\\"");
                        }
                    }                    
                </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
            <h4>Завдання №2</h4>
            <p>Публічний статичний метод toOctal(int) має перетворювати ціле число, отримане як вхідний параметр, з десяткової системи числення у вісімкову. А публічний статичний метод toDecimal(int) навпаки — з вісімкової системи в десяткову.
                Методи діють лише для додатних чисел. Якщо вхідний параметр дорівнює або менший за 0, методи повертають 0. Твоє завдання — реалізувати ці методи. </p> <br>
            <p>Натисність на кнопку нижче, щоб відкрити рішення.</p> <br>
            <p class="solution">Показати рішення</p>
            <div class="p2 hidepr">
                    <pre><code>public class Solution 
                        public static void main(String args) 
                            int decimalNumber = 21;
                            System.out.println("Десяткове число " + decimalNumber + " дорівнює вісімковому числу " + toOctal(decimalNumber));
                            int octalNumber = 25;
                            System.out.println("Вісімкове число " + octalNumber + " дорівнює десятковому числу " + toDecimal(octalNumber));
                        
                    
                        public static int toOctal(int decimalNumber) 
                            int octalNumber = 0;
                            if (decimalNumber <= 0) 
                                return octalNumber;
                            
                    
                            int i = 0;
                            while (decimalNumber != 0) 
                                octalNumber = (int) (octalNumber + (decimalNumber % 8) * Math.pow(10, i++));
                                decimalNumber = decimalNumber / 8;
                            
                            return octalNumber;
                        
                    
                        public static int toDecimal(int octalNumber) 
                            int decimalNumber = 0;
                            if (octalNumber <= 0) {
                                return decimalNumber;
                            
                    
                            int i = 0;
                            while (octalNumber != 0) 
                                decimalNumber = (int) (decimalNumber + (octalNumber % 10) * Math.pow(8, i++));
                                octalNumber = octalNumber / 10;
                            
                            return decimalNumber;
                        
                                      
                </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
        </section>
        <section class="test">
            <form action="#" onsubmit="return false;">
                <!--                <form action="/validate">-->
                <!--                    <form>-->
                <h2>Тестові завдання</h2>
                <div id="q1">
                    <h4>Питання №1</h4>
                    <p>В який спосіб у Java не можна задавати символ-значення типу char?</p>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">char a = 'A';
                    </label>
                    <label>
                        <input type="radio" value="1" name="var1" class="var">char a = '';
                    </label>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">char a = '♂';
                    </label> 
                </div>
                <div id="q2">
                    <h4>Питання №2</h4>
                    <p>Виберіть число, задане у двійковому кодуванні</p>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">0x10
                    </label>
                    <label>
                        <input type="radio" value="1" name="var2" class="var">0b10
                    </label>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">010
                    </label>
                </div>
                <div id="q3">
                    <h4>Питання №3</h4>
                    <p>Виберіть число, задане у шістнадцятковому кодуванні</p>
                    <label>
                        <input type="radio" value="1" name="var3" class="var">0x10
                    </label>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">0b10
                    </label>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">010
                    </label>
                </div>
                <div id="q4">
                    <h4>Питання №4</h4>
                    <p>За допомогою якої escape-послідовності можна закодувати символ enter (переведення рядка)?</p>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">\t
                    </label>
                    <label>
                        <input type="radio" value="1" name="var4" class="var">\n
                    </label>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">\"
                    </label>
                </div>
                <div id="q5">
                    <h4>Питання №5</h4>
                    <p>За допомогою якої escape-послідовності можна закодувати символ \ (скісна риска)?</p>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var5" class="var">\t
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var5" class="var">\n
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var5" class="var">\\
                    </label>
                </div>
                <div id="q6">
                    <h4>Питання №6</h4>
                    <p>За допомогою якої escape-послідовності можна закодувати символ " (подвійна лапка)?</p>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var6" class="var">\t
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var6" class="var">\n
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var6" class="var">\"
                    </label>
                </div>
                <div id="q7">
                    <h4>Питання №7</h4>
                    <p>Виберіть число, задане у вісімковому кодуванні</p>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var7" class="var">0х10
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var7" class="var">010
                    </label>
                    <label>
                        <input type="radio" value="0" name="var7" class="var">100
                    </label>
                </div>
                <div id="q8">
                    <h4>Питання №8</h4>
                    <p>За допомогою якої escape-послідовності можна закодувати символ табуляції?</p>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">\n
                    </label>
                    <label>
                        <input type="radio" value="1" name="var8" class="var">\t
                    </label>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">\r
                    </label>
                </div>
                <div id="q9">
                    <h4>Питання №9</h4>
                    <p>За допомогою якої escape-послідовності можна закодувати символ повернення на один символ?</p>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">\n
                    </label>
                    <label>
                        <input type="radio" value="1" name="var9" class="var">\b
                    </label>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">\r
                    </label>
                </div>
                <div id="q10">
                    <h4>Питання №10</h4>
                    <p>За допомогою якої escape-послідовності можна закодувати символ повернення каретки?</p>
                    <label>
                        <input type="radio" value="1" name="var10" class="var">\r
                    </label>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">\t
                    </label>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">\g
                    </label>
                </div>
                <br>
                <!--                <input type="submit" value="Проверить" id="calc" class="btn">-->
                <!--                <input type="reset" value="Сбросить" id="res" class="btn"><br>-->
                <!--                <input id="totalGrad" type="hidden" value="0">-->
                <p class="alert hidepr">Ви відповіли не на всі тести!</p>
                <input type="submit" value="Перевірити" id="calc" class="btn">
                <input type="reset" value="Скинути" id="res" class="btn"><br>
                <div class="ans"><p class="q">Правильних відповідей:
                    <p class="grade">0</p></p></div>
            </form>
        </section>
<!--        <section class="btn_sec">-->
<!--            <form action="/validate">-->
<!--                <input id="totalGrad" name="testsSummary" type="hidden" value="0">-->
<!--                <input name="lessonNumber" type="hidden" value="1">-->
<!--                <input  id="nextLesson" name="nextLesson" type="hidden" value="les2">-->
<!--                <input type="submit" class="btn_go btn" id="next" value="Наступний урок"/>-->
<!--            </form>-->
<!--        </section>-->
        <footer>
            <p>© All right reserved</p>
            <p>Kyiv 2021</p>
        </footer>
    </div>
    <aside class="right_panel">
        <div class="top"></div>
        <div class="lessons">
            <div class="panel">
                <div>
                    <a href="/lesson?goToLesson=1" class="nL">Урок №1 "Команди й перша програма"</a>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(0) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=2" class="nL">Урок №2 "Знайомство з
                        типами й уведення з клавіатури"</a>
                    <span th:unless="${condition}" class="nL">Урок №2 "Знайомство з
                        типами й уведення з клавіатури"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(1) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=3" class="nL">Урок №3 "Умовний оператор</a>
                    <span th:unless="${condition}" class="nL">Урок №3 "Умовний оператор</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(2) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=4" class="nL">Урок №4 "Цикли while та do-while"
                    </a>
                    <span th:unless="${condition}" class="nL">Урок №4 "Цикли while та do-while"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(3) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=5" class="nL">Урок №5 "Цикл for"</a>
                    <span th:unless="${condition}" class="nL">Урок №5 "Цикл for"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(4) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=6" class="nL">Урок №6 "Масиви"</a>
                    <span th:unless="${condition}" class="nL">Урок №6 "Масиви"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(5) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=7" class="nL">Урок №7 "Двовимірні масиви"</a>
                    <span th:unless="${condition}" class="nL">Урок №7 "Двовимірні масиви"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(6) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=8" class="nL">Урок №8 "Допоміжний клас Arrays"</a>
                    <span th:unless="${condition}" class="nL">Урок №8 "Допоміжний клас Arrays"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(7) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=9" class="nL">Урок №9 "Створення власних функцій, передавання параметрів"</a>
                    <span th:unless="${condition}" class="nL">Урок №9 "Створення власних функцій, передавання параметрів"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(8) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=10" class="nL">Урок №10 "Модифікатори методів"</a>
                    <span th:unless="${condition}" class="nL">Урок №10 "Модифікатори методів"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(9) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=11" class="nL">Урок №11 "Примітивні типи в Java"</a>
                    <span th:unless="${condition}" class="nL">Урок №11 "Примітивні типи в Java"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(10) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=12" class="nL">Урок №12 "Об'єкти в Java"</a>
                    <span th:unless="${condition}" class="nL">Урок №12 "Об'єкти в Java"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(11) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=13" class="nL">Урок №13 "Клас Math"</a>
                    <span th:unless="${condition}" class="nL">Урок №13 "Клас Math"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(12) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=14" class="nL">Урок №14 "Побітові операції в Java"</a>
                    <span th:unless="${condition}" class="nL">Урок №14 "Побітові операції в Java"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px;">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
            <div class="panel  activeP">
                <div th:with="condition=${session.lesson10.get(13) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=15" class="nL">Урок №15 "Літерали в Java"</a>
                    <span th:unless="${condition}" class="nL">Урок №15 "Літерали в Java"</span>
                    <p style="color:rgb(230, 29, 29); font-size: 14px; width: 80%; margin:auto; border:rgb(109, 15, 15) 1px solid; 
                    padding: 8px; border-radius: 10px; margin-top: 5px; ">Ви не можете перейти на цей урок, тому що не завершили попередній</p>
                </div>
            </div>
        </div>
        <div class="botom"></div>
        <div class="info">
            <div>
<!--                <img th:src="@{/img/inf.png}" src="/src/main/resources/static/img/inf.png" alt="" height="20px" width="20px">-->
                <img th:src="@{/img/inf.png}" alt="" height="20px" width="20px">
            </div>
            <a target="_blank" href="https://docs.oracle.com/en/java/"> Документація Java</a>
        </div>
    </aside>

</div>

<script th:src="@{/js/script.js}" src="/src/main/resources/static/js/script.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>