<!DOCTYPE html>
<html lang="en" id="9"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Java Course</title>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/jquery.js}" src="/src/main/resources/static/js/jquery.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css">
</head>
<body onload="setNextLvlButtonColorIfExist()">
<input th:if="${session.thisLessonGrade.containsKey(1)}" id="thisLessonGrade" type="hidden" value="1"/>
<header>
    <div class="logo">
        <h1>Онлайн-курc: JavaCourse</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4ZAeznQZoSen1S7qvKdoet0ndYpCepZpR-TMTp6pDlMtkg_oYF3BcLjv2ciiSssFqlws&usqp=CAU" alt="LOGOTYPE" width="120px" height="100px">
        <h1 th:text="${session.userDB}" class="user">USER</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Вихід" class="btn" id="logout"/>
        </form>
    </div>
    <div class="gradeList hideGrade">
        <div>
            <div class="subDiv"><div>Оцінка за урок №1:</div><div th:text="${session.lesson10.get(0)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №2:</div><div th:text="${session.lesson10.get(1)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №3:</div><div th:text="${session.lesson10.get(2)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №4:</div><div th:text="${session.lesson10.get(3)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №5:</div><div th:text="${session.lesson10.get(4)}">10</div></div>
        </div>
        <div>
            <div class="subDiv"><div>Оцінка за урок №6:</div><div th:text="${session.lesson10.get(5)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №7:</div><div th:text="${session.lesson10.get(6)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №8:</div><div th:text="${session.lesson10.get(7)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №9:</div><div th:text="${session.lesson10.get(8)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №10:</div><div th:text="${session.lesson10.get(9)}">10</div></div>
            
        </div>
        <div class="lastch">
            <div class="subDiv"><div>Оцінка за урок №11:</div><div th:text="${session.lesson10.get(10)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №12:</div><div th:text="${session.lesson10.get(11)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №13:</div><div th:text="${session.lesson10.get(12)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №14:</div><div th:text="${session.lesson10.get(13)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №15:</div><div th:text="${session.lesson10.get(14)}">10</div></div>
        </div>
    </div>
    <div class="logo_list">
        <div><p>15 уроків</p></div>
        <div><p>Швидке начання</p></div>
        <div><p>Онлайн практика</p></div>
        <div><p>Тестові завдання</p></div>
    </div>
</header>

<div class="main_content">
    <div class="content">
        <section class="name">
            <img src="" alt="" width="300px" height="170px">
            <div>
                <h2></h2>
                <a href="#practice">Перейти до практики</a>
            </div>
        </section>
        <div class="op">
            <p>Представляємо вам уроки програмування мовою Java для починаючих. <br> Великий відео курс по вивченню мови
                Java.</p>
        </div>
        <h2>Відеоурок</h2>
        <section class="video">
            <iframe src="https://www.youtube.com/embed/C5q0ULg0nmY" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </section>
        <section class="text">
            <h2>Текстовий матеріал</h2>
            
        </section>
        <section class="practice" id="practice">
            <h2>Практичні завдання</h2>
            <h4>Завдання №1</h4>
            <p></p> <br>
            <p>Початковий код: </p> <br>
            <pre><code>
            </code></pre> <br>
            <p>Натисність на кнопку нижче, щоб відкрити рішення.</p> <br>
            <p class="solution">Показати рішення</p>
            <div class="p1 hidepr">
                    <pre><code>
                </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
            <h4>Завдання №2</h4>
            <p></p><br>
            <p>Початковий код:</p> <br>
            <pre><code>
            </code></pre> <br>
            <p>Натисність на кнопку нижче, щоб відкрити рішення.</p> <br>
            <p class="solution">Показати рішення</p>
            <div class="p2 hidepr">
                    <pre><code>
                </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
        </section>
        <section class="test">
            <form action="#" onsubmit="return false;">
                <!--                <form action="/validate">-->
                <!--                    <form>-->
                <h2>Тестові завдання</h2>
                <div id="q1">
                    <h4>Питання №1</h4>
                    <p></p>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">
                    </label>
                    <label>
                        <input type="radio" value="1" name="var1" class="var">
                    </label>
                </div>
                <div id="q2">
                    <h4>Питання №2</h4>
                    <p></p>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">
                    </label>
                    <label>
                        <input type="radio" value="1" name="var2" class="var">
                    </label>
                </div>
                <div id="q3">
                    <h4>Питання №3</h4>
                    <p></p>
                    <label>
                        <input type="radio" value="1" name="var3" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">
                    </label>
                </div>
                <div id="q4">
                    <h4>Питання №4</h4>
                    <p></p>
                    <label>
                        <input type="radio" value="1" name="var4" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">
                    </label>
                </div>
                <div id="q5">
                    <h4>Питання №5</h4>
                    <p></p>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var5" class="var">
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var5" class="var">
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var5" class="var">
                    </label>
                </div>
                <div id="q6">
                    <h4>Питання №6</h4>
                    <p></p>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var6" class="var">
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var6" class="var">
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var6" class="var">
                    </label>
                </div>
                <div id="q7">
                    <h4>Питання №7</h4>
                    <p></p>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var7" class="var">
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var7" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var7" class="var">
                    </label>
                </div>
                <div id="q8">
                    <h4>Питання №8</h4>
                    <p></p>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">
                    </label>
                    <label>
                        <input type="radio" value="1" name="var8" class="var">
                    </label>
                </div>
                <div id="q9">
                    <h4>Питання №9</h4>
                    <p></p>
                    <label>
                        <input type="radio" value="1" name="var9" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">
                    </label>
                </div>
                <div id="q10">
                    <h4>Питання №10</h4>
                    <p></p>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">
                    </label>
                    <label>
                        <input type="radio" value="1" name="var10" class="var">
                    </label>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">
                    </label>
                </div>
                <br>
                <!--                <input type="submit" value="Проверить" id="calc" class="btn">-->
                <!--                <input type="reset" value="Сбросить" id="res" class="btn"><br>-->
                <!--                <input id="totalGrad" type="hidden" value="0">-->
                <p class="alert hidepr">Ви відповіли не на всі тести!</p>
                <input type="submit" value="Перевірити" id="calc" class="btn">
                <input type="reset" value="Скинути" id="res" class="btn"><br>
                <div class="ans"><p class="q">Правильних відповідей:
                    <p class="grade">0</p></p></div>
            </form>
        </section>
<!--        <section class="btn_sec">-->
<!--            <form action="/validate">-->
<!--                <input id="totalGrad" name="testsSummary" type="hidden" value="0">-->
<!--                <input name="lessonNumber" type="hidden" value="1">-->
<!--                <input  id="nextLesson" name="nextLesson" type="hidden" value="les2">-->
<!--                <input type="submit" class="btn_go btn" id="next" value="Наступний урок"/>-->
<!--            </form>-->
<!--        </section>-->
        <footer>
            <p>© All right reserved</p>
            <p>Kyiv 2021</p>
        </footer>
    </div>
    <aside class="right_panel">
        <div class="top"></div>
        <div class="lessons">
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(0) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=1" class="nL">Урок №1 "Команди й перша
                        програма"</a>
                    <span th:unless="${condition}" class="nL">Урок №1 "Команди й перша
                        програма"</span>
                </div>
            </div>
            <div class="panel activeP">
                <div th:with="condition=${session.lesson10.get(1) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=2" class="nL">Урок №2 "Знайомство з
                        типами й уведення з клавіатури"</a>
                    <span th:unless="${condition}" class="nL">Урок №2 "Знайомство з
                        типами й уведення з клавіатури"</span>
                </div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(2) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=3" class="nL">Урок №3 "Умовний оператор</a>
                    <span th:unless="${condition}" class="nL">Урок №3 "Умовний оператор</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(3) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=4" class="nL">Урок №4 "Цикли while та do-while"
                    </a>
                    <span th:unless="${condition}" class="nL">Урок №4 "Цикли while та do-while"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(4) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=5" class="nL">Урок №5 "Цикл for"</a>
                    <span th:unless="${condition}" class="nL">Урок №5 "Цикл for"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(5) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=6" class="nL">Урок №6 "Масиви"</a>
                    <span th:unless="${condition}" class="nL">Урок №6 "Масиви"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(6) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=7" class="nL">Урок №7 "Двовимірні масиви"</a>
                    <span th:unless="${condition}" class="nL">Урок №7 "Двовимірні масиви"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(7) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=8" class="nL">Урок №8 "Допоміжний клас Arrays"</a>
                    <span th:unless="${condition}" class="nL">Урок №8 "Допоміжний клас Arrays"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(8) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=9" class="nL">Урок №9 "Тема
                        уроку"</a>
                    <span th:unless="${condition}" class="nL">Урок №9 "Тема
                    уроку"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(9) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=10" class="nL">Урок №10 "Тема
                        уроку"</a>
                    <span th:unless="${condition}" class="nL">Урок №10 "Тема
                    уроку"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(10) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=11" class="nL">Урок №11 "Тема
                        уроку"</a>
                    <span th:unless="${condition}" class="nL">Урок №11 "Тема
                    уроку"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(11) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=12" class="nL">Урок №12 "Тема
                        уроку"</a>
                    <span th:unless="${condition}" class="nL">Урок №12 "Тема
                    уроку"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(12) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=13" class="nL">Урок №13 "Тема
                        уроку"</a>
                    <span th:unless="${condition}" class="nL">Урок №13 "Тема
                    уроку"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(13) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=14" class="nL">Урок №14 "Тема
                        уроку"</a>
                    <span th:unless="${condition}" class="nL">Урок №14 "Тема
                    уроку"</span></div>
            </div>
            <div class="panel">
                <div th:with="condition=${session.lesson10.get(14) >= 7}" th:remove="tag">
                    <a th:if="${condition}" href="/lesson?goToLesson=15" class="nL">Урок №15 "Тема
                        уроку"</a>
                    <span th:unless="${condition}" class="nL">Урок №15 "Тема
                    уроку"</span></div>
            </div>
        </div>
        <div class="botom"></div>
        <div class="info">
            <div>
<!--                <img th:src="@{/img/inf.png}" src="/src/main/resources/static/img/inf.png" alt="" height="20px" width="20px">-->
                <img th:src="@{/img/inf.png}" alt="" height="20px" width="20px">
            </div>
            <a target="_blank" href="https://docs.oracle.com/en/java/"> Документація Java</a>
        </div>
    </aside>

</div>

<script th:src="@{/js/script.js}" src="/src/main/resources/static/js/script.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>