<!DOCTYPE html>
<html lang="en" id="7"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Java Course</title>
    <script th:src="@{js/jquery.js}"></script>
    <script th:src="@{js/jquery.js}" src="/src/main/resources/static/js/jquery.js"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/src/main/resources/static/css/style.css">
</head>
<body onload="setNextLvlButtonColorIfExist()">
<input th:if="${session.thisLessonGrade.containsKey(1)}" id="thisLessonGrade" type="hidden" value="1"/>
<header>
    <div class="logo">
        <h1>Онлайн-курc: JavaCourse</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4ZAeznQZoSen1S7qvKdoet0ndYpCepZpR-TMTp6pDlMtkg_oYF3BcLjv2ciiSssFqlws&usqp=CAU" alt="LOGOTYPE" width="120px" height="100px">
        <h1 th:text="${session.userDB}" class="user">USER</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Вихід" class="btn" id="logout"/>
        </form>
    </div>
    <div class="gradeList hideGrade">
        <div>
            <div class="subDiv"><div>Оцінка за урок №1:</div><div th:text="${session.lesson10.get(0)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №2:</div><div th:text="${session.lesson10.get(1)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №3:</div><div th:text="${session.lesson10.get(2)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №4:</div><div th:text="${session.lesson10.get(3)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №5:</div><div th:text="${session.lesson10.get(4)}">10</div></div>
        </div>
        <div>
            <div class="subDiv"><div>Оцінка за урок №6:</div><div th:text="${session.lesson10.get(5)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №7:</div><div th:text="${session.lesson10.get(6)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №8:</div><div th:text="${session.lesson10.get(7)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №9:</div><div th:text="${session.lesson10.get(8)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №10:</div><div th:text="${session.lesson10.get(9)}">10</div></div>
            
        </div>
        <div class="lastch">
            <div class="subDiv"><div>Оцінка за урок №11:</div><div th:text="${session.lesson10.get(10)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №12:</div><div th:text="${session.lesson10.get(11)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №13:</div><div th:text="${session.lesson10.get(12)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №14:</div><div th:text="${session.lesson10.get(13)}">10</div></div>
            <div class="subDiv"><div>Оцінка за урок №15:</div><div th:text="${session.lesson10.get(14)}">10</div></div>
        </div>
    </div>
    <div class="logo_list">
        <div><p>15 уроків</p></div>
        <div><p>Швидке начання</p></div>
        <div><p>Онлайн практика</p></div>
        <div><p>Тестові завдання</p></div>
    </div>
</header>

<div class="main_content">
    <div class="content">
        <section class="name">
            <img src="" alt="" width="300px" height="170px">
            <div>
                <h2>Двовимірні масиви</h2>
                <a href="#practice">Перейти до практики</a>
            </div>
        </section>
        <div class="op">
            <p>Представляємо вам уроки програмування мовою Java для починаючих. <br> Великий відео курс по вивченню мови
                Java.</p>
        </div>
        <h2>Відеоурок</h2>
        <section class="video">
            <iframe src="https://www.youtube.com/embed/C5q0ULg0nmY" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </section>
        <section class="text">
            <h2>Текстовий матеріал</h2>
            <h3>Двовимірні масиви</h3> <br>
            <p>Ще один цікавий факт про масиви: масиви бувають не лише лінійними, а й двовимірними.</p> <br>
            <p>Це означає, що комірки масиву можна представити не тільки у вигляді стовпця (або рядка), а й у вигляді прямокутної таблиці.</p> <br>
            <p>Оголошення двовимірного масиву:</p> <br>
            <pre><code>int[][] ім'я = new int[ширина][висота];</code></pre> <br>
            <p>де ім'я — це ім'я змінної-масиву, ширина — це ширина таблиці (виміряна в комірках), а висота — це висота таблиці. </p> <br>
            <p>Наприклад:</p> <br>
            <pre><code>int[][] data = new int[2][5];
                data[1][1] = 5;   
            </code></pre> <br>
            <p>Пояснення:</p> <br>
            <p>Створюємо двовимірний масив: два стовпці та 5 рядків. У комірку (1,1) записуємо 5.</p> <br>
            <p>До речі, для двовимірних масивів теж можна використовувати швидку ініціалізацію:</p> <br>
            <pre><code>// кількість днів у місяцях року поквартально
                int[][] months = { {31, 28, 31}, {30, 31, 30}, {31, 31, 30}, {31, 30, 31} };
            </code></pre> <br>
            <p>Є дуже багато ситуацій, коли вам, як програмісту, може знадобитися двовимірний масив. Реалізація майже будь-якої настільної гри — це ж готовий двовимірний масив: «Шахи», «Шашки», «Хрестики-нулики», «Морський бій».</p> <br>
            <h4>Розташування елементів у масивах: (x,y) чи (y,x)</h4>
            <p>Тут, до речі, виникає цікава дилема.</p> <br>
            <p>Створення масиву new int[2][5]; означає, що ми створили таблицю «два рядки та 5 стовпців» чи все-таки «два стовпці та 5 рядків»? Інакше кажучи, ми спочатку вказуємо «ширину», а потім «висоту», або все-таки спочатку «висоту», а потім — «ширину»? І, як то кажуть, не все настільки однозначно.</p> <br>
            <p>Почнімо із запитання: а як ця таблиця насправді зберігається в пам'яті?</p> <br>
            <p>Безпосередньо в пам'яті комп'ютера жодної таблиці немає: усі байти пам'яті пронумеровані як 0, 1, 2, ... Для нас це таблиця 2×5, а в пам'яті це просто 10 комірок і все — без розділення на рядки та стовпці.</p> <br>
            <p>Аргумент на користь гіпотези «ширина»–«висота».</p> <br>
            <p>Ще в школі всіх учили, що з пари координат спочатку вказують «x», а потім «y». І це не просто шкільний стандарт — це взагалі стандарт у математиці. Проти цариці наук, авжеж, не попреш. Так що? Спочатку «ширина», а потім «висота»?</p> <br>
            <p>Аргумент на користь гіпотези «висота»–«ширина».</p> <br>
            <p>Тут теж є цікавий аргумент, і ґрунтується він на… швидкій ініціалізації двовимірних масивів. Адже, якщо ми захочемо ініціалізувати наш масив, то напишемо цей код так:</p> <br>
            <pre><code>int[][] matrix = { {1, 2, 3, 4, 5}, {1, 2, 3, 4, 5} };</code></pre> <br>
            <p>Нічого не помічаєте? А якщо ось так?</p> <br>
            <pre><code>int[][] matrix = {
                {1, 2, 3, 4, 5},
                {1, 2, 3, 4, 5}
              };
            </code></pre> <br>
            <p>Якщо написати наші дані в коді по рядках, отримаємо таблицю, що містить 2 рядки та 5 стовпців.</p> <br>
            <strong>Підсумки</strong> <br>
            <p>Ну що тут скажеш? Як вам зручніше — вирішуєте ви. Головне, щоб усі програмісти, які працюють над одним проєктом, дотримувались однакового підходу.</p> <br>
            <p>Якщо ви працюватимете над проєктом, де в коді багато ініціалізованих двовимірних масивів , то, найімовірніше, там усі будуть використовувати швидку ініціалізацію даних і буде стандарт «висота»–«ширина».</p> <br>
            <p>Якщо ж вам пощастить потрапити в проєкт, де багато математики та працюють із координатами (наприклад, робота з ігровими рушіями), там, найімовірніше, будуть дотримуватися підходу «ширина»–«висота».</p> <br>
            <h3>Зубчасті масиви в Java</h3> <br>
            <h4>Нерівні масиви</h4>
            <p>У Java ви, як програміст, можете не лише поміняти рядки двовимірного масиву місцями, але й сконструювати цей масив самостійно як заманеться.</p> <br>
            <p>Припустімо ви хочете, щоб перший рядок двовимірного масиву мав довжину 10, а другий — 50. Чи можна так зробити? Так, можна.</p> <br>
            <p>Спершу потрібно створити «контейнер контейнерів» — перший масив, який зберігатиме посилання на масиви-рядки. Це роблять так:</p> <br>
            <pre><code>int[][] ім'я = new int[висота][];</code></pre> <br>
            <p>Остаточний вигляд коду буде таким:</p> <br>
            <pre><code>int[][] matrix = new int[2][];
                matrix[0] = new int[10];
                matrix[1] = new int[50]
            </code></pre> <br>
            <p>Пояснення:</p> <br>
            <pre><code>Створюється двовимірний масив
                Нульовий рядок — масив із 10 елементів
                Перший рядок — масив із 50 елементів.
            </code></pre> <br>
            <p>Щойно ви створили так званий «нерівний масив».</p> <br>
            <p>І от якщо ми захочемо вивести всі елементи цього масиву на екран, нам стане у великій пригоді властивість length, адже рядки масиву мають різну довжину.</p> <br>
            <p>До речі, як визначити довжину «контейнера контейнерів» у нашому прикладі? Адже це теж об'єкт-масив, а значить, він має довжину. Правильна відповідь — matrix.length.</p> <br>
            <p>А як щодо довжини масивів-рядків? matrix[0].length</p> <br>
            <h4>Робота з двовимірними масивами</h4>
            <p>Припустімо, ви хочете вивести на екран двовимірний масив. Як же це зробити?</p> <br>
            <p>Наш код матиме приблизно такий вигляд:</p> <br>
            <pre><code>int[][] matrix = new int[3][];
                matrix[0] = new int[]{1, 2, 3, 4, 5, 6};
                matrix[1] = new int[]{1, 2, 3};
                matrix[2] = new int[]{1};
                for (int i = 0; i < matrix.length; i++) {
                   for (int j = 0; j < matrix[i].length; j++)
                      System.out.print( matrix[i][j] + " " );
                   System.out.println();
                }
            </code></pre> <br>
            <p>Пояснення:</p> <br>
            <pre><code>Створення масиву
                Заповнення масиву значеннями
                Зовнішній цикл по рядках масиву — перебирає рядки масиву.
                Внутрішній цикл по комірках — перебирає комірки одного рядка.
            </code></pre> <br>
            <p>Вам знадобиться два вкладених цикли. Перший ми назвемо зовнішнім, а другий — внутрішнім.</p> <br>
            <p>У зовнішньому циклі (змінна i) ми по черзі проходимо по всіх масивах-рядках, з яких складається наш двовимірний масив. Кожне значення змінної i відповідає рядку масиву з таким номером.</p> <br>
            <p>У внутрішньому циклі (змінна j) ми перебираємо всі комірки масивів-рядків. У результаті роботи внутрішнього циклу на екран буде виведено рядок, який складається зі значень одного рядка масиву.</p> <br>
            <p>Результат коду буде виведений масив:</p> <br>
            <pre><code>1 2 3 4 5 6
                1 2 3
                1 
            </code></pre> <br>
            <h4>Багатовимірні масиви</h4>
            <p>Ще один цікавий факт про масиви. Напевно, ви вже здогадуєтеся, про що йдеться. Якщо можна зробити двовимірний масив, значить, можна зробити й тривимірний?</p> <br>
            <p>Так, можна створити масив будь-якої розмірності. Такі масиви називають багатовимірними.</p> <br>
            <p>З цікавості спробуймо створити багатовимірний масив розмірності 4.</p> <br>
            <pre><code>int[][][][] matrix = new int[2][3][4][5];</code></pre><br>
            <p>Занадто простий код, чи не так?</p> <br>
            <p>А якщо створити його вручну?</p> <br>
            <pre><code>int[][][][] matrix;
                matrix = new int[2][][][];                // створюємо масив «посилань на посилання на посилання» довжиною 2
                for (int i = 0; i < matrix.length; i++)
                {
                  matrix[i] = new int[3][][];             // створюємо масив «посилань на посилання» довжиною 3
                  for (j = 0; j < matrix[i].length; j++)
                  {
                    matrix[i][j] = new int[4][];          // створюємо масив посилань довжиною 4
                    for (k = 0; k < matrix[i][j].length; k++)
                      matrix[i][j][k] = new int[5];       // створюємо масиви цілих чисел довжиною 5
                  }
                }
            </code></pre> <br>
        </section>
        <section class="practice" id="practice">
            <h2>Практичні завдання</h2>
            <h4>Завдання №1</h4>
            <p></p> <br>
            <p>Створити трикутний масив з 10 рядками, де значення кожного елемента — це сума його індексів</p> <br>
            <p>Вивести масив на екран у такому вигляді:</p> <br>
            <pre><code>0
                1 2
                2 3 4
                3 4 5 6
                4 5 6 7 8
                5 6 7 8 9 10
                ...
            </code></pre> <br>
            <p class="solution">Показати рішення</p>
            <div class="p1 hidepr">
                    <pre><code>public class Solution {

                        public static int[][] result = new int[10][];
                    
                        public static void main(String[] args) {
                            for (int i = 0; i < result.length; i++) {
                                result[i] = new int[i + 1];
                                for (int j = 0; j < result[i].length; j++) {
                                    result[i][j] = i + j;
                                    System.out.print(result[i][j] + " ");
                                }
                                System.out.println();
                            }
                        }
                    } 
                </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
            <h4>Завдання №2</h4>
            <p>Реалізуйте метод main(String[]), який:</p><br>
            <ol>
                <li>Зчитує з консолі число N — кількість рядків масиву.</li>
                <li>Зчитує N чисел із консолі.</li>
                <li>Ініціалізує двовимірний масив multiArray:<ul>
                    <li>кількістю рядків N;</li>
                    <li>рядки — масивами, розмір яких відповідає числам, які були введені раніше.</li>
                </ul></li>
            </ol> <br>
            <p>Приклад:</p> <br>
            <ol>
                <li>Уведено число 5.</li>
                <li>Уведено числа 1, 7, 5, 9, 3.</li>
                <li>Отримуємо такий масив:</li>
            </ol> <br>
            <pre><code>[]
                [][][][][][][]
                [][][][][]
                [][][][][][][][][]
                [][][]
            </code></pre> <br>
            <p>Натисність на кнопку нижче, щоб відкрити рішення.</p> <br>
            <p class="solution">Показати рішення</p>
            <div class="p2 hidepr">
                    <pre><code>public class Solution {
  
                        public static int[][] multiArray;
                    
                        public static void main(String[] args) {
                            Scanner scan = new Scanner(System.in);
                            int n = scan.nextInt();
                            multiArray = new int[n][];
                            for(int i = 0; i < n; i++)
                            {
                                int k = scan.nextInt();
                                multiArray[i] = new int[k];
                            }
                        }
                    }
                </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
        </section>
        <section class="test">
            <form action="#" onsubmit="return false;">
                <!--                <form action="/validate">-->
                <!--                    <form>-->
                <h2>Тестові завдання</h2>
                <div id="q1">
                    <h4>Питання №1</h4>
                    <p>Квадратний масив можна створити за допомогою такої команди:</p>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">int[100, 100] array;
                    </label>
                    <label>
                        <input type="radio" value="1" name="var1" class="var">int[][] array = new int[100][100];
                    </label>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">int[100][100] array;
                    </label>
                </div>
                <div id="q2">
                    <h4>Питання №2</h4>
                    <p>Кількість рядків у двовимірному масиві можна визначити так:</p>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">array.rows()
                    </label>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">array.size()
                    </label>
                    <label>
                        <input type="radio" value="1" name="var2" class="var">array.length
                    </label>
                </div>
                <div id="q3">
                    <h4>Питання №3</h4>
                    <p>Кількість стовпців у двовимірному масиві можна визначити так:</p>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">array.colums()
                    </label>
                    <label>
                        <input type="radio" value="1" name="var3" class="var">array[0].length
                    </label>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">array.size()
                    </label>
                </div>
                <div id="q4">
                    <h4>Питання №4</h4>
                    <p>Багатовимірний масив розмірності 4 можна створити за допомогою такої команди:</p>
                    <label>
                        <input type="radio" value="1" name="var4" class="var">int[][][][] matrix = new int[2][3][4][5];
                    </label>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">int matrix = new int[2][3][4][5];
                    </label>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">int[2][3][4][5] matrix = new int[][][][];
                    </label>
                </div>
                <div id="q5">
                    <h4>Питання №5</h4>
                    <p>Зубчасті масиви можна створити за допомогою таких команд:</p>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var5" class="var"><pre style="width: 80%;"><code>int[][] matrix = new int[2][];
                            matrix[] = new int[0];
                            matrix[] = new int[1];
                        </code></pre>
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var5" class="var"><pre style="width: 80%;"><code>int[][] matrix = new int[2][];
                            matrix[0] = new int[10];
                            matrix[1] = new int[50];
                        </code></pre>
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var5" class="var"><pre style="width: 80%;"><code>int[][] matrix = new int[][];
                            matrix[0] = new int[];
                            matrix[1] = new int[];
                        </code></pre>
                    </label>
                </div>
                <div id="q6">
                    <h4>Питання №6</h4>
                    <p>Швидко ініціалізувати двовимірний масив можна за допомогою такої команди:</p>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var6" class="var"><pre style="width: 80%;"><code>int[][] months = { {31, 28, 31}, {30, 31, 30}, {31, 31, 30}, {31, 30, 31} };</code></pre>
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var6" class="var"><pre style="width: 80%;"><code>int months = { {31, 28, 31}, {30, 31, 30}, {31, 31, 30}, {31, 30, 31} };</code></pre>
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var6" class="var"><pre style="width: 80%;"><code>int[][] months = { {31, 28, 31}; {30, 31, 30}; {31, 31, 30}; {31, 30, 31} };</code></pre>
                    </label>
                </div>
                <div id="q7">
                    <h4>Питання №7</h4>
                    <p>Що буде результатом виконання коду:<pre style="border: none;"><code>int[][] matrix = new int[3][];
                        matrix[0] = new int[]{1, 2, 3, 4, 5, 6};
                        matrix[1] = new int[]{1, 2, 3};
                        matrix[2] = new int[]{1};
                        for (int i = 0; i < matrix.length; i++) {
                           for (int j = 0; j < matrix[i].length; j++)
                              System.out.print( matrix[i][j] + " " );
                           System.out.println();
                        }
                    </code></pre></p>
                    <label style="display: flex;">
                        <input type="radio" value="1" name="var7" class="var"><pre style="width: 80%;"><code>1 2 3 4 5 6
                            1 2 3
                            1
                        </code></pre>
                    </label>
                    <label style="display: flex;">
                        <input type="radio" value="0" name="var7" class="var"><pre style="width: 80%;"><code>1 2 3 4 5 6 1 2 3 1</code></pre>
                    </label style="display: flex;">
                    <label>
                        <input type="radio" value="0" name="var7" class="var"><pre style="width: 80%;"><code>1
                            1 2 3
                            1 2 3 4 5 6
                        </code></pre>
                    </label>
                </div>
                <div id="q8">
                    <h4>Питання №8</h4>
                    <p>Що робить команда: data[1][1] = 5;</p>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">Створює масив з розмірністю 1х1 і передає йому значення 5.
                    </label>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">Передає у комірку з індексом п’ять значення 1.
                    </label>
                    <label>
                        <input type="radio" value="1" name="var8" class="var">У комірку (1, 1) передається значення 5.
                    </label>
                </div>
                <div id="q9">
                    <h4>Питання №9</h4>
                    <p>Як двовимірні масиви зберігаються у пам’яті?</p>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">У вигляді таблиці
                    </label>
                    <label>
                        <input type="radio" value="1" name="var9" class="var">Як послідовні комірки пам’яті
                    </label>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">Ніяк
                    </label>
                </div>
                <div id="q10">
                    <h4>Питання №10</h4>
                    <p>Яким буде результат виконання цього коду: <pre style="border: none;"><code>int[][] matrix = {
                        {1, 2, 3, 4, 5},
                        {5, 4, 3, 2, 1}
                      };
                      
                      int[] tmp = matrix[0];
                      matrix[0] = matrix[1];
                      matrix[1] = tmp;                      
                    </code></pre></p>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">Об’єднає комірки масиву у одну
                    </label>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">Нічого не зміниться
                    </label>
                    <label>
                        <input type="radio" value="1" name="var10" class="var">Рядки масиву поміняються місцями
                    </label>
                </div>
                <br>
                <!--                <input type="submit" value="Проверить" id="calc" class="btn">-->
                <!--                <input type="reset" value="Сбросить" id="res" class="btn"><br>-->
                <!--                <input id="totalGrad" type="hidden" value="0">-->
                <p class="alert hidepr">Ви відповіли не на всі тести!</p>
                <input type="submit" value="Перевірити" id="calc" class="btn">
                <input type="reset" value="Скинути" id="res" class="btn"><br>
                <div class="ans"><p class="q">Правильних відповідей:
                    <p class="grade">0</p></p></div>
            </form>
        </section>
        <section class="btn_sec">
            <form action="/validate">
                <input id="totalGrad" name="testsSummary" type="hidden" value="0">
                <input name="lessonNumber" type="hidden" value="1">
                <input  id="nextLesson" name="nextLesson" type="hidden" value="les2">
                <input type="submit" class="btn_go btn" id="next" value="Наступний урок"/>
            </form>
        </section>
        <footer>
            <p>© All right reserved</p>
            <p>Kyiv 2021</p>
        </footer>
    </div>
    <aside class="right_panel">
        <div class="top"></div>
        <div class="lessons">
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/index.html" class="nL">Урок №1 "Команди й перша
                    програма"</a>
            </div>
            <div class="panel">
                <a href="/validate" class="nL">Урок №2 "Знайомство з
                    типами й уведення з клавіатури"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les3.html" class="nL">Урок №3 "Умовний оператор"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les4.html" class="nL">Урок №4 "Цикли while та do-while"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les5.html" class="nL">Урок №5 "Цикл for"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les6.html" class="nL">Урок №6 "Масиви"</a>
            </div>
            <div class="panel activeP">
                <a href="/courseplatform/src/main/resources/static/les7.html" class="nL">Урок №7 "Двовимірні масиви"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les8.html" class="nL disable">Урок №8 "Допоміжний клас Arrays"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les9.html" class="nL disable">Урок №9 "Створення власних функцій, передавання параметрів"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les10.html" class="nL disable">Урок №10 "Модифікатори методів"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les11.html" class="nL disable">Урок №11 "Примітивні типи в Java"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les12.html" class="nL disable">Урок №12 "Об'єкти в Java"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les13.html" class="nL disable">Урок №13 "Клас Math"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les14.html" class="nL disable">Урок №14 "Побітові операції в Java"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les15.html" class="nL disable">Урок №15 "Літерали в Java"</a>
            </div>
        </div>
        <div class="botom"></div>
        <div class="info">
            <div>
<!--                <img th:src="@{/img/inf.png}" src="/src/main/resources/static/img/inf.png" alt="" height="20px" width="20px">-->
                <img th:src="@{/img/inf.png}" alt="" height="20px" width="20px">
            </div>
            <a target="_blank" href="https://docs.oracle.com/en/java/"> Документація Java</a>
        </div>
    </aside>

</div>

<script th:src="@{/js/script.js}" src="/src/main/resources/static/js/script.js"></script>
<script th:src="@{/js/script.js}"></script>
</body>
</html>