<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Log in with your account</title>
    <link rel="stylesheet" th:href="@{/css/style_auth.css}">
</head>

<body>
<div>
    <form action="/login" method="post">
        <h1>Вхід на сторінку курсу</h1>
        <div>
            <p>Логін: </p>
            <input name="user" type="text" placeholder="Логін" autofocus="true" class="text"/> <br>
            <p>Пароль: </p>
            <input name="pass" type="password" placeholder="Пароль" class="text"/> <br>
            <div>
                <input name="submit" type="submit" value="Ввійти" class="btn"/> <br>
                <a href="/registration" class="">Реєстрація</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>