<!DOCTYPE html>
<html lang="en" id="1">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Java Course</title>
    <script th:src="@{js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <div class="logo">
        <h1>Онлайн-курc: JavaCourse</h1>
        <img src="https://dev.java/assets/images/java-logo-vert-blk.png" alt="LOGOTYPE" width="70px" height="60px">
        <h1 th:text="${session.username}">  </h1>

    </div>
    <div>
        <div th:text="${session.lesson10.get(0)}"></div>
        <div th:text="${session.lesson10.get(1)}"></div>
        <div th:text="${session.lesson10.get(2)}"></div>
        <div th:text="${session.lesson10.get(3)}"></div>
        <div th:text="${session.lesson10.get(4)}"></div>
        <div th:text="${session.lesson10.get(5)}"></div>
        <div th:text="${session.lesson10.get(6)}"></div>
        <div th:text="${session.lesson10.get(7)}"></div>
        <div th:text="${session.lesson10.get(8)}"></div>
        <div th:text="${session.lesson10.get(9)}"></div>
        <div th:text="${session.lesson10.get(10)}"></div>
        <div th:text="${session.lesson10.get(11)}"></div>
        <div th:text="${session.lesson10.get(12)}"></div>
        <div th:text="${session.lesson10.get(13)}"></div>
        <div th:text="${session.lesson10.get(14)}"></div>
        <div th:text="${session.lesson10.get(15)}"></div>
    </div>
    <div class="logo_list">
        <div><p>15 уроків</p></div>
        <div><p>Швидке начання</p></div>
        <div><p>Онлайн практика</p></div>
        <div><p>Тестові завдання</p></div>
    </div>
</header>

<div class="main_content">
    <div class="content">
        <section class="name">
            <img src="" alt="" width="300px" height="170px">
            <div>
                <h2>Команди й перша програма</h2>
                <a href="#practice">Перейти до практики</a>
            </div>
        </section>
        <div class="op">
            <p>Представляємо вам уроки програмування мовою Java для починаючих. <br> Великий відео курс по вивченню мови
                Java.</p>
        </div>
        <h2>Відеоурок</h2>
        <section class="video">
            <iframe src="https://www.youtube.com/embed/C5q0ULg0nmY" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
        </section>
        <section class="text">
            <h2>Текстовий матеріал</h2>
            <h3>Команди</h3> <br>
            <p>Програма — це набір (список) команд. Спочатку виконується перша команда, потім друга, третя й так далі.
                Після виконання всіх команд програма завершується.</p><br>
            <p>Програми, написані мовою Java, виконує спеціальна програма JVM (Java Virtual Machine — віртуальна машина
                Java), яка вміє їх виконувати.</p><br>
            <p>Але ми почнемо не з команд, а з декількох простих принципів.</p><br>
            <p><strong>Принцип перший: </strong>у мові програмування Java кожна команда має починатися з нового рядка і
                закінчуватися крапкою з комою.</p><br>
            <p>Приміром, ми хочемо двічі вивести на екран напис Я люблю JAVA!. Ось як виглядатиме код цієї програми:</p>
            <br>
            <pre><code>System.out.println("Я люблю JAVA!");
                        System.out.println("Я люблю JAVA!");
                    </code></pre>
            <br>
            <p><strong>Принцип другий: </strong>програма не може містити просто список команд. У мові Java команди мають
                міститися у функціях, а функції — у класах.</p> <br>
            <p>Java-програми складаються з класів, класи містять методи, а методи — команди.</p><br> <br>
            <h3>Структура типової програми</h3> <br>
            <p>Програми мовою Java складаються з класів. Класів може бути десятки тисяч. Мінімальна програма — це один
                клас. Для кожного класу створюється окремий файл, ім'я якого збігається з ім'ям класу.</p> <br>
            <p>Наприклад ви вирішили створити клас, який описує будинок. Тоді вам потрібно створити клас House, який
                зберігатиметься у файлі House.java.</p> <br>
            <p>Ці файли містять текст — код мовою програмування Java. Зазвичай код класу складається з імені класу й
                тіла класу. Тіло класу беруть у фігурні дужки. Наприклад:</p>
            <br>
            <pre><code>public class java_course {
                            //Тут знаходиться тіло класу
                        }
                    </code></pre>
            <br>
            <p>Тіло класу може містити змінні (інакше — дані класу) і методи (функції класу).</p>
            <br>
            <pre><code>public class java_course {
                            int a; //змінна
                            void funk() {} //метод
                        }
                    </code></pre>
            <br>
            <p>У наведеному вище прикладі a — це змінна, а funk — метод.</p> <br> <br>
            <h3>Метод main()</h3> <br>
            <p>Класи можуть містити змінні й методи, але це не обов'язково. Трапляються класи без змінних чи без
                методів. </p> <br>
            <p>До складу мінімальної програми має входити принаймні один клас, що має містити принаймні один метод
                (функцію), з якого починається виконання програми. Такий метод повинен мати ім'я main. Мінімальна
                програма має такий вигляд:</p>
            <br>
            <pre><code>public class java_course {
                            public static void main(String[] args) {}
                        }
                    </code></pre>
            <br>
            <p>Зауважте, що в наведеному вище прикладі метод main не містить команд. Саме так: у мінімальній програмі
                немає жодної команди. На те вона й мінімальна.</p> <br>
            <p>Клас, з якого починається програма, може мати будь-яке ім'я, однак вигляд методу main, з якого
                розпочинається виконання програми, завжди буде однаковим:</p>
            <br>
            <pre><code>public class java_course {
                            public static void main(String[] args) {
                                // Код методу
                            }
                        }
                    </code></pre>
            <br> <br>
            <h3>Виведення на екран</h3> <br>
            <h4>Параметри методу println()</h4> <br>
            <p>Тіло методу складається з команд. Можна навіть сказати, що метод — це група команд, якій присвоєно ім'я
                (ім'я методу). І так, і так буде правильно.</p> <br>
            <p>Команди можуть бути різними. У мові Java є команди на всяку потребу. Кожна команда описує певну дію.
                Кожна команда має закінчуватися крапкою з комою.</p>
            <br>
            <pre><code>public static void main(String[] args) {
                            // Виводить на екран число 336
                            System.out.println(336);
                            // Виводить на екран напис: Java course
                            System.out.println("Java course");
                        }
                    </code></pre>
            <br>
            <p>Насправді це одна команда — System.out.println. А в круглих дужках вказано параметри, які їй передаються.
                Одна команда може виконувати різні дії залежно від значень параметрів. Це дуже зручно.</p> <br>
            <p><strong>Важливо!</strong> <br> У мові Java має значення, якими літерами написано команди — великими чи
                малими. Команда System.out.println() буде виконуватись, а команда system.out.println() — ні.</p> <br>
            <p>Якщо ви хочете вивести на екран текст, його потрібно з обох сторін позначити подвійними лапками.</p> <br>
            <p>Одинарна лапка (апостроф) має такий вигляд: ', а подвійна лапка — такий: ". Не слід плутати подвійні
                лапки з парою одинарних — це зовсім різні знаки.</p> <br>
            <h4>Різниця між командами println() і print()</h4> <br>
            <p>Команда виведення на екран має два варіанти: System.out.println() і System.out.print()</p> <br>
            <p>Якщо написати команду System.out.println() декілька разів, то переданий в неї текст буде щоразу
                виводитися з нового рядка. А якщо написати команду System.out.print(), текст виводитиметься в тому
                самому рядку.</p>
            <br>
            <pre><code>System.out.println("Java");
                        System.out.println("course");
                    </code></pre>
            <br>
            <p>Результат:</p> <br>
            <p>Java <br>course</p>
            <br>
            <pre><code>System.out.print("Java");
                        System.out.print("course");
                    </code></pre>
            <br>
            <p>Результат:</p> <br>
            <p>Java course</p> <br> <br>
            <h3>Змінні</h3> <br>
            <h4>Визначення</h4> <br>
            <p>Змінні — це такі штуковини, де зберігаються дані. Будь-які дані. У Java всі дані зберігаються у змінних.
                За своїм призначенням змінна дуже схожа на коробку.</p> <br>
            <p>Кожна змінна в Java має три важливі властивості: тип, ім'я та значення</p> <br>
            <p>Ім'я потрібно для того, щоб відрізнити одну змінну від іншої. Так само, як і напис на коробці.</p> <br>
            <p>Тип змінної вказує на тип значень чи даних, які можна в ній зберігати. У коробці для цукерок ми
                зберігаємо цукерки, в коробці для взуття — черевики і т. ін.</p> <br>
            <p>Значення — це певний об'єкт, дані чи інформація, що зберігаються у змінній.</p> <br>
            <p>У мові Java кожен об'єкт має свій тип. Наприклад, є такі типи даних: ціле число, дробове число, текст
                тощо.</p> <br>
            <p>Кожна змінна (коробка) також має свій тип. У змінній можна зберігати тільки такі значення, тип яких
                відповідає типу змінної. Різні коробки використовують для зберігання різних речей: коробка для цукерок,
                коробка для яєць тощо. Усе як в житті.</p> <br>
            <h4>Створення змінної</h4> <br>
            <p>У мові Java для створення змінної використовується така команда: тип ім'я; де тип — це тип змінної
                (збігається з типом значень, які можуть зберігатися у змінній), а ім'я — це ім'я змінної. </p>
            <br>
            <pre><code>int a; // Створюємо змінну з іменем a типу int.
                        String s; // Створюємо змінну з іменем s типу String.
                    </code></pre>
            <br>
            <p>Найчастіше використовують два типи — int (цілі числа) і String (текст). Крім того, часто використовують
                тип double — це дробові (дійсні) числа.</p> <br>
            <h4>Присвоювання</h4> <br>
            <p>Для запису значень у змінну є спеціальна операція — операція присвоювання. Вона копіює значення з однієї
                змінної в іншу. Не переносить, а саме копіює. Так само, як копіюють файл з диску на диск. Присвоювання
                має такий вигляд: ім'я = значення; де ім'я — це ім'я змінної, а значення — це значення, яке записується
                в змінну. Змінній можна присвоїти конкретне значення, ім'я іншої змінної або навіть вираз, в якому
                використовуються змінні.</p>
            <br>
            <pre><code>int a;// Створюємо змінну а типу int
                        a = 1;// Записуємо їй значення 1
                        int b; // Створюємо змінну b типу int
                        b = 2; // Записуємо їй значення 2
                    </code></pre>
            <br>
            <p><strong>Важливо!</strong>В одному методі не можна створити дві змінні з однаковими іменами. А в різних
                методах — можна.</p> <br>
            <p>Є й інші обмеження щодо імен змінних. Хоча змінним можна надавати будь-які імена, однак в цих іменах не
                можна використовувати пробіли, символи +, - тощо. Найкраще використовувати в іменах змінних лише
                латинські літери й цифри.</p> <br>
            <p>Зауважте, що в мові Java розрізнюються великі й малі літери. тому int a — це не те саме, що Int a</p>
            <br> <br>
            <h3>Компілятор і байт-код</h3> <br>
            <p>Для комп'ютера в ролі команд виступають числа: кожна команда закодована певним числом (його ще називають
                машинним кодом).</p> <br>
            <p>Писати програму у вигляді чисел дуже складно, тому люди вигадали мови програмування та компілятори. Така
                мова, з одного боку, зрозуміла людині, з іншого — компілятору. Компілятор — це спеціальна програма, яка
                перетворює текст програми, написаний мовою програмування, на набір машинних кодів.</p> <br>
            <p>Зазвичай програміст пише програму мовою програмування, а потім запускає компілятор, який на основі
                написаних програмістом файлів із кодом програми робить один файл із машинним кодом — кінцеву
                (скомпільовану) програму.</p> <br>
            <img  th:src="@{/img/first.png}" alt="">
            <p><br>Отримана в результаті програма відразу може виконуватись на комп'ютері. Такий підхід має свій мінус —
                код отриманої програми значно залежить від процесора й операційної системи. Програма, скомпільована для
                Windows, не буде працювати на телефоні з Android.</p> <br>
            <p>Якщо ж ви написали програму для Android, то в операційній системі Windows вона не запуститься!</p> <br>
            <p>У Java використовується набагато інноваційніший підхід:</p> <br>
            <img  th:src="@{/img/second.png}" alt="">
            <p><br>Компілятор Java не компілює всі класи в одну програму з машинних кодів. Натомість він компілює кожен
                клас окремо, і не в машинні коди, а в спеціальний проміжний код (байт-код). Компіляція в машинний код
                відбувається під час запуску програми.</p> <br>
            <p>А хто ж компілює програму в машинний код під час запуску?</p> <br>
            <p>Для цього є спеціальна програма під назвою JVM (Java Virtual Machine) — віртуальна машина Java. Спочатку
                запускають її, а потім — програму, що складається з байт-коду. А вже JVM перед виконанням потрібної
                програми компілює її в машинний код.</p> <br> <br>
            <h3>Коментарі в Java</h3> <br>
            <h4>Два види коментарів</h4> <br>
            <p>Створюючи програму мовою Java, можна писати не лише команди, а й коментарі до них безпосередньо в коді.
                Компілятор ігнорує такі коментарі, ніби їх взагалі немає. Під час виконання програми всі коментарі
                пропускаються.</p> <br>
            <p>У коді класу ми написали коментар «Це перший вид коментарів. Він може закоментувати декілька рядків».
                Початок коментаря позначається парою символів /*, а кінець — */. Коли програма компілюватиметься,
                компілятор пропустить усе, що міститься між символами /* і */.</p> <br>
            <br>
            <pre><code>public class java_course {
                        public static void main(String[] args) {
                            /*Це перший вид коментарів,
                            Він може закоментувати декілька рядків*/
                        }
                    }
                    </code></pre>
            <br>
            <p>У тексті коментаря ви можете написати що завгодно.</p> <br>
            <p>Зазвичай в коді пишуть різні коментарі до його неочевидних або складних для розуміння частин. Трапляються
                коментарі на десятки рядків: такі зазвичай пишуть перед методами, описуючи нюанси їх роботи.</p> <br>
            <p>Є ще один спосіб створити коментар у коді — за допомогою символів //.</p>
            <br>
            <pre><code>public class java_course {
                            public static void main(String[] args) {
                                // Це другий вид коментарів
                                // Він може закоментувати лише один рядок
                            }
                        }
                    </code></pre>
            <p><br> У такому разі коментарем вважається частина коду, що починається з пари символів // і продовжується
                до кінця рядка, в якому ці символи розташовані. Тобто другої пари символів, які «закривають коментар»,
                немає.</p>
        </section>
        <section class="practice" id="practice">
            <h2>Практичні завдання</h2>
            <h4>Завдання №1</h4>
            <p>Оголоси змінні a, b типу int. <br>Відразу ж у рядку оголошення присвой їм різні значення. <br>Значеннями
                можуть бути будь-які цілі числа.</p> <br>
            <p>Натисність на кнопку нижче, щоб відкрити рішення.</p> <br>
            <p class="solution">Показати рішення</p>
            <div class="p1 hidepr">
                    <pre><code>public class Solution {
                            public static void main(String[] args) {
                               int a = 1;
                               int b = 2;
                            }
                        }
                    </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
            <h4>Завдання №2</h4>
            <p>Напиши програму, яка в методі main оголошує такі змінні:<br>name типу String, age типу int і city типу
                String.</p> <br>
            <p>Натисність на кнопку нижче, щоб відкрити рішення.</p> <br>
            <p class="solution">Показати рішення</p>
            <div class="p2 hidepr">
                    <pre><code>public class Solution {
                            public static void main(String[] args) {
                                String name;
                                int age;
                                String city;//напишіть тут ваш код
                            }
                        }
                    </code></pre>
                <br>
                <p class="collapse">Згорнути</p> <br>
            </div>
        </section>
        <section class="test">
            <form action="#" onsubmit="return false;">
                <!--                <form action="/validate">-->
                <!--                    <form>-->
                <h2>Тестові завдання</h2>
                <div id="q1">
                    <h4>Питання №1</h4>
                    <p>У мові програмування Java виконання програми починається з методу:</p>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">begin()
                    </label>
                    <label>
                        <input type="radio" value="0" name="var1" class="var">start()
                    </label>
                    <label>
                        <input type="radio" value="1" name="var1" class="var">main()
                    </label>
                </div>
                <div id="q2">
                    <h4>Питання №2</h4>
                    <p>За допомогою якої функції можна вивести текст на екран?</p>
                    <label>
                        <input type="radio" value="1" name="var2" class="var">print()
                    </label>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">echo()
                    </label>
                    <label>
                        <input type="radio" value="0" name="var2" class="var">wtite()
                    </label>
                </div>
                <div id="q3">
                    <h4>Питання №3</h4>
                    <p>За допомогою якої функції можна вивести текст на екран з різних рядків?</p>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">print()
                    </label>
                    <label>
                        <input type="radio" value="1" name="var3" class="var">println()
                    </label>
                    <label>
                        <input type="radio" value="0" name="var3" class="var">printLines()
                    </label>
                </div>
                <div id="q4">
                    <h4>Питання №4</h4>
                    <p>У мові Java кожна зміна має:</p>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">ім'я
                    </label>
                    <label>
                        <input type="radio" value="0" name="var4" class="var">ім'я і тип
                    </label>
                    <label>
                        <input type="radio" value="1" name="var4" class="var">ім'я, тип і значення
                    </label>
                </div>
                <div id="q5">
                    <h4>Питання №5</h4>
                    <p>Оголосити змінну name можна за допомогою: </p>
                    <label>
                        <input type="radio" value="0" name="var5" class="var">var name
                    </label>
                    <label>
                        <input type="radio" value="1" name="var5" class="var">String name
                    </label>
                    <label>
                        <input type="radio" value="0" name="var5" class="var">name: string
                    </label>
                </div>
                <div id="q6">
                    <h4>Питання №6</h4>
                    <p>В яку змінну зберігають цілі числа?</p>
                    <label>
                        <input type="radio" value="1" name="var6" class="var">int
                    </label>
                    <label>
                        <input type="radio" value="0" name="var6" class="var">integer
                    </label>
                    <label>
                        <input type="radio" value="0" name="var6" class="var">Number
                    </label>
                </div>
                <div id="q7">
                    <h4>Питання №7</h4>
                    <p>Багаторядковий коментар починається з...</p>
                    <label>
                        <input type="radio" value="0" name="var7" class="var">--
                    </label>
                    <label>
                        <input type="radio" value="0" name="var7" class="var">//
                    </label>
                    <label>
                        <input type="radio" value="1" name="var7" class="var">/*
                    </label>
                </div>
                <div id="q8">
                    <h4>Питання №8</h4>
                    <p>У мові Java найчастіше вживають типи даних...</p>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">int & str
                    </label>
                    <label>
                        <input type="radio" value="1" name="var8" class="var">int & String
                    </label>
                    <label>
                        <input type="radio" value="0" name="var8" class="var">integer & String
                    </label>
                </div>
                <div id="q9">
                    <h4>Питання №9</h4>
                    <p>Java-компілятор після компіляції видає...</p>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">програму з машинних кодів
                    </label>
                    <label>
                        <input type="radio" value="1" name="var9" class="var">програму з байт-кодів
                    </label>
                    <label>
                        <input type="radio" value="0" name="var9" class="var">архів з файлами
                    </label>
                </div>
                <div id="q10">
                    <h4>Питання №10</h4>
                    <p>JVM - це?</p>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">Java Visual Module
                    </label>
                    <label>
                        <input type="radio" value="0" name="var10" class="var">Java Virtual Module
                    </label>
                    <label>
                        <input type="radio" value="1" name="var10" class="var">Java Virtual Machine
                    </label>
                </div>
                <br>
                <!--                <input type="submit" value="Проверить" id="calc" class="btn">-->
                <!--                <input type="reset" value="Сбросить" id="res" class="btn"><br>-->
                <!--                <input id="totalGrad" type="hidden" value="0">-->
                <input type="submit" value="Перевірити" id="calc" class="btn">
                <input type="reset" value="Скинути" id="res" class="btn"><br>
                <div class="ans"><p class="q">Правильних відповідей:
                    <p class="grade">0</p></p></div>
            </form>
        </section>
        <section class="btn_sec">
            <form action="/validateasd">
                <input id="totalGrad" name="testsSummary" type="hidden" value="0">
                <input name="lessonNumber" type="hidden" value="1">
                <input  id="nextLesson" name="nextLesson" type="hidden" value="les2">
                <input type="submit" class="btn_go btn" id="next" value="Наступний урок"/>
            </form>
        </section>
        <footer>
            <p>© All right reserved</p>
            <p>Kyiv 2021</p>
        </footer>
    </div>
    <aside class="right_panel">
        <div class="top"></div>
        <div class="lessons">
            <div class="panel activeP">
                <a href="/courseplatform/src/main/resources/static/index.html" class="nL">Урок №1 "Команди й перша
                    програма"</a>
            </div>
            <div class="panel">
                <a href="/validateasd" class="nL disable">Урок №2 "Знайомство з
                    типами й уведення з клавіатури"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les3.html" class="nL disable">Урок №3 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les4.html" class="nL disable">Урок №4 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les5.html" class="nL disable">Урок №5 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les6.html" class="nL disable">Урок №6 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les7.html" class="nL disable">Урок №7 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les8.html" class="nL disable">Урок №8 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les9.html" class="nL disable">Урок №9 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les10.html" class="nL disable">Урок №10 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les11.html" class="nL disable">Урок №11 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les12.html" class="nL disable">Урок №12 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les13.html" class="nL disable">Урок №13 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les14.html" class="nL disable">Урок №14 "Тема
                    уроку"</a>
            </div>
            <div class="panel">
                <a href="/courseplatform/src/main/resources/static/les15.html" class="nL disable">Урок №15 "Тема
                    уроку"</a>
            </div>
        </div>
        <div class="botom"></div>
        <div class="info">
            <div>
                <img th:src="@{/img/inf.png}" alt="" height="20px" width="20px">
            </div>
            <a target="_blank" href="https://docs.oracle.com/en/java/"> Документація Java</a>
        </div>
    </aside>

</div>

<script th:src="@{/js/script.js}"></script>
</body>
</html>